/* TYPOGRAPHY
 * 1. Bootstrap base font size/font family overrides
 * 2. Museo Sans, Museo Slab font weights
 * 3. Boostrap base heading h1-h6 overrides
 */

// [1]
$font-size-base:            17px !default;
$font-family-sans-serif:    "museo sans", sans-serif !default;
$font-family-serif:         "museo slab", serif !default;
$font-family-base:          $font-family-sans-serif !default;
// [2]
$font-weight-300:           300 !default;
$font-weight-500:           500 !default;
$font-weight-1000:          900 !default;
// [3]
$headings-font-weight:      $font-weight-500 !default;
$headings-font-family:      $font-family-serif !default;
$font-size-h1:              floor(($font-size-base * 2.15)) !default; // ~36px
$font-size-h2:              floor(($font-size-base * 1.9)) !default; // ~32px
$font-size-h3:              ceil(($font-size-base * 1.6)) !default; // ~28px
$font-size-h4:              ceil(($font-size-base * 1.4)) !default; // ~24px
$font-size-h5:              ceil(($font-size-base * 1.15)) !default; // ~20px
$font-size-h6:              $font-size-base !default; // ~17px
$headings-line-height:      1.5 !default;


/* BREAKPOINTS
 * 1. Large screen Media query override
 * 2. Large scneen Container size override
 */

// [1]
$screen-xs:                  480px !default; // Extra small screen / phone
$screen-xs-min:              $screen-xs !default;

$screen-sm:                  768px !default; // Small screen / tablet
$screen-sm-min:              $screen-sm !default;

$screen-md:                  992px !default; // Medium screen / desktop
$screen-md-min:              $screen-md !default;

$screen-lg:                  1400px !default; // Large screen / wide desktop
$screen-lg-min:              $screen-lg !default;

// So media queries don't overlap when required, provide a maximum
// Bootstrap default overridden
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;
// [2]
$grid-gutter-width:         30px !default;
$container-large-desktop:   (1340px + $grid-gutter-width) !default;


/* COLORS
 * These colors are part of the Brand Colorado Marketing, https://drive.google.com/file/d/0B29p7msKOLwATGlhLVVSaEJNcjA/edit
 * 1. Brand Colorado Primary
 * 2. Brand Colorado Secondary
 */

// [1]
$color-brand-green:               #00953a;
$color-brand-slate:               #5c666f;
$color-brand-silver:              #d0d2d3;
$color-brand-orange:              #ef7521;
$color-brand-brown:               #65503c;
$color-brand-blue:                #6ec4ed;

// [2]
// Blacks, browns and grays
$color-black:                     #000000;
$color-evening:                   #262228;
$color-charcoal:                  #373737;
$color-blackboard:                #525249;
$color-natural-gray:              #7f7e73;
$color-sleek-gray:                #999899;
$color-lemon-grass:               #a9aba0;
$color-walnut:                    #483627;
$color-beige:                     #d3ccbc;

// Reds, Oranges, and Yellows
$color-spice:                     #6a3833;
$col0r-brick-red:                 #84322c;
$color-scarlet:                   #f6323e;
$color-cognac:                    #ad431c;
$color-tiger-orange:              #bc6123;
$color-wheat:                     #cc9700;
$color-harvest-gold:              #ce9f51;
$color-gold-leaf:                 #d1b400;
$color-sunflower:                 #d8c722;
$color-lemon:                     #f7d44b;

// Purples and blues
$color-eggplant:                  #49274a;
$color-grape:                     #946183;
$color-ink:                       #062f4f;
$color-sky-blue:                  #328cc1;
$color-pacific-blue:              #009add;
$color-aqua:                      #25cad3;
$color-pastel-blue:               #4dc1df;
$color-ice:                       #8fc6e8;

// Greens
$color-forest:                    #235c37;
$color-neon-green:                #82bc00;
$color-asparagus:                 #739849;
$color-cucumber:                  #72a84f;
$color-fern:                      #546121;
$color-olive-green:               #a2a467;
$color-pine-glade:                #c2ca7f;
$color-mineral-green:             #3f5b57;
$color-pine-needle:               #46797a;
$color-corduroy:                  #5f7774;
$color-sea-foam:                  #95a495;
