/********* Background ********/

body
{
  background: transparent;

}

.large-bg img {
  display:block;
  min-height:100%;
  min-width:1920px;
  width:100%;
  height:auto;
  position:fixed;
  left:0;
  z-index: -9999999;
}
